<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgFN5tk8vKqXAVyXgN1xsCzG8KlEMjRSw</string>
	<key>GCM_SENDER_ID</key>
	<string>383299023830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ftf.f2f</string>
	<key>PROJECT_ID</key>
	<string>ftfdb-83750</string>
	<key>STORAGE_BUCKET</key>
	<string>ftfdb-83750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383299023830:ios:df7fc3ebf5834ee277aa77</string>
</dict>
</plist>